.card-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 200px;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transform: scaleX(1) scaleY(1);
    transition: transform 0.3s;
    &:hover {
        transform: scaleX(1.05) scaleY(1.05);
        .card-info {
            background-color: rgba($color: #fff, $alpha: 0.9);
        }
    }

    .rate-box {
        position:relative;
        bottom: -13px;
        right: 20px;
        display: flex;
        justify-content: flex-end;
        width: 80%;

        .rating{
            background-color: orange;
            padding: 2px 4px;
            border-radius: 7px;
        }
    }

    .card-info {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 80%;
        height: 35%;
        border-radius: 15px;
        background-color: rgba($color: #fff, $alpha: 0.7);
        margin-bottom: 15px;

        .card-subtitle {
            position: relative;
            font-size: 0.85rem;
            font-weight: 500;
            color: #000;
            margin-left: 10px;
            opacity: 0.8;
            cursor: pointer;
        }

        .card-title {
            position: relative;
            font-size: 1rem;
            font-weight: 700;
            text-transform: uppercase;
            color: #013d5a;
            margin-left: 10px;
            margin-right: 10px;
            cursor: pointer;
        }
    }

}