.reset-pass-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    .reset-pass-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 500px;
        padding: 25px 25px 50px 25px;
        margin-top: 20px;
        background-color: #d3feea !important;
        .reset-pass-header{
            display: flex;
            flex-direction: column;
            .header-back-btn{
                position: relative;
                left: -40px;
                i{
                    color: #339966;
                    font-size: 25px;
                    cursor: pointer;
                    transform: scaleY(1) scaleX(1);
                    transition: transform 0.3s ease, color 0.3s ease;
                }
                &:hover{
                    i{
                        color: #2a7d5d;
                        transform: scaleY(1.2) scaleX(1.2);
                        transition: transform 0.3s ease, color 0.3s ease;
                    }
                }
            }
            .header-title {
                color: #339966;
                font-size: 22px;
                text-transform: uppercase;
                text-align: center;
                font-weight: 600;
            }
            .header-description {
                max-width: 380px;
                opacity: 0.8;
                text-align: justify;
                font-size: 14px;
                text-align: center;
            }
        }
        .reset-pass-form {
            .get-email-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                
                .get-email-btn {
                    background-color: #339966;
                    color: white;
                    border: none;
                    padding: 10px 20px;
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 600;
                    transition: 0.3s;
                    transform: translateY(0) ;
                    transition: transform 0.3s ease, background-color 0.3s ease;
                    i{
                        font-size: 20px;
                        margin-right: 10px;
                    }
                    &:hover {
                        transform: translateY(-2px);
                        background-color: #2a7d5d;
                        transition: transform 0.3s ease, background-color 0.3s ease;
                    }
                }
                .get-email-return {
                    color: #339966;
                    font-size: 14px;
                    font-weight: 600;
                    cursor: pointer;
                    transition: 0.3s;
                    transform: translateY(0) ;
                    transition: transform 0.3s ease, color 0.3s ease;
                    &:hover {
                        color: #2a7d5d;
                        transform: translateY(-2px);
                        transition: transform 0.3s ease, color 0.3s ease;
                    }
                }
            }
            .reset-pass-form-input{
                input {
                    width: 260px;
                    padding: 10px;
                    border: 1px solid #339966;
                    border-radius: 25px;
                    font-size: 14px;
                    transition: 0.3s;
                    &:focus {
                        border: 1px solid #2a7d5d;
                        color: #2a7d5d;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
}

.change-pass-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .change-pass-form-input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 5px 8px;
        border-radius: 25px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Thêm shadow cho container nếu cần */
    
        input {
            border: none;
            outline: none;
            flex: 1; /* Để input chiếm toàn bộ không gian */
            transition: box-shadow 0.3s ease; /* Thêm hiệu ứng chuyển tiếp cho input */
        }
    
        span {
            margin-left: 10px; /* Khoảng cách giữa input và biểu tượng */
            cursor: pointer; /* Con trỏ khi hover */
        }
    }
    .change-pass-form-btn{
        margin-top: 20px;
        width: 100%;
        background-color: #339966;
        padding: 5px 8px;
        border-radius: 25px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        &:hover {
            background-color: #2a7d5d;
            transition: background-color 0.3s ease;
        }
    }
}